* {
    background-color: rgb(57, 48, 48);
    /* border: 1px solid white; */
}

h1 {
    color: antiquewhite;
    font-family: 'Cinzel', serif;
}

h3 {
    color: antiquewhite;
    font-family: 'Cinzel', serif;
}

i {
    color: antiquewhite;
}